body {
  font-feature-settings: ;
  font-size: ;
  font-weight: ;
  color: black;
  background-color: ;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style-type: none;
}

.header {
}

.header-nav {
}

.header-logo {
  font-weight: 700px;
}

.span-logo {
  font-style: italic;
}

.header-logo-image {
}

.nav-list {
}

.nav-items {
}

.nav-link {
}

.social-list {
}

.social-item {
}

.facebook-link {
}
